a div{
    background-color: transparent;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover div,
a:focus div{
	background-color: #444;	
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ccc;
  
}

a small {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	color: #ccc
}

a:hover small,
a:focus small {
	color: #888
}

.section-info a {
  color: #fff;
  text-decoration: none;
}
.section-info a:hover,
.section-info a:focus {
  color: #ccc;
  
}

.section-info a div{
    background-color: transparent;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.section-info a:hover div,
.section-info a:focus div{
	background-color: #99251f;	
}

.section-info a small {
	color:#ccc
}

.cover .cover-image {
  background-image : url('../images/mrbrian_bg.gif'); 
}

.cover .cover-image.fader {
  background: #332929;
  opacity: 0.8;
}

.cover .cover-image.bg-points,
.bg-points {
  background: url("../images/bck.dots.png");
}

.padding-top {
	padding-top: 1em;
}

ul.nav.navbar-nav li a{
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}